@media (max-width: 1024px) {
  .line {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
  }

  .line:nth-child(2) {
    margin: 5px 0;
  }

  .pages {
    display: none;
  }

  .sect-idk .container .right img {
    width: 30vw;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .title {
    width: 100%;
  }

  .services .row .box {
    width: auto !important;
  }
  .pages ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .pages ul li {
    margin: 10px 0;
  }

  .services .row {
    width: 100%;
    display: block !important;
  }

  .services .box {
    width: 90%;
    margin-bottom: 20px;
  }

  .servicesleftimagem,
  .servicesrightimagem {
    text-align: center;
  }

  .servicesleftimagem img,
  .servicesrightimagem img {
    width: 100%;
    height: auto;
  }

  .sect-idk {
    display: none !important;
  }

  .sect-idk .container {
    flex-direction: row;
    align-items: center;
  }

  .sect-idk .left,
  .sect-idk .right {
    width: 90%;
    text-align: center;
  }

  .sect-idk .first-image-idk {
    width: 100%;
    height: auto;
  }

  .phrase h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  footer .footer-container {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-section {
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
  }

  footer iframe {
    width: 100%;
    height: auto;
  }
}

/* Estilos para telas menores que 480px (dispositivos muito pequenos) */
@media (max-width: 480px) {
  .title {
    width: 100%;
  }
  .title h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  .services .box h2 {
    font-size: 1.2rem;
  }

  .phrase h1 {
    font-size: 1.2rem;
  }

  .row {
    display: flex;
    gap: 5px;
    margin: 0 auto;
    flex-direction: column;
  }
}
