@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap");

/* Red Hat Display font */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400..700&display=swap");

/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400..700&display=swap");

/* variáveis */
:root {
  --primary-color: rgb(12, 99, 204);
  --secondary-color: rgb(12, 99, 204);
  --accent-color: rgb(12, 99, 204);

  --logo-color: #003c64;
  --text-color: #ececec;
  --text-color-stronger: #838383;

  --background-color-nav: #ffffff;
  --background-color-header: #ffffff;
  --icon-color: #1e7cf0;
  --color-button: #1e7cf0;
}

/* config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: var(--background-color);
}

header .logo {
  font-family: "Red Hat Display", sans-serif !important;
  color: var(--logo-color);
  font-size: 2.5rem;
}

header .logo a {
  text-decoration: none;
  color: var(--logo-color);
}

header {
  background-color: var(--background-color);
}

header a {
  text-decoration: none;
  color: black;
}

.wrapper-header {
  font-family: "Monda", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  margin-right: auto;
  margin-left: auto;
  height: 10vh;
  min-width: 350px;
}

header .logo {
  font-family: "Red Hat Display", sans-serif;
  color: var(--logo-color);
  font-size: 2.5rem;
}

header ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

header ul li {
  margin-left: 30px;
}

header ul li a {
  text-decoration: none;
  color: var(--text-color-stronger);
  font-size: 17px;
  text-transform: uppercase;
}

.burger {
  display: none;
}




/* header */

/* page title */
.title {
  display: flex;
  background: url("../images/Home/Estrada_Home.png") no-repeat center/cover;
  width: 100%;
  height: 60vh;
  .title-text {
    margin-top: 3rem;
    font-family: "Red Hat Display", sans-serif;
    margin-left: 11rem;
    width: 65vw;
    margin-right: auto;
    margin-left: auto;
    min-width: 350px;

    .title-text-first {
      padding-bottom: 1rem;
      font-size: 45px;
      color: var(--text-color);
    }
    .title-text-second {
      width: 40%;
      font-family: "Red Hat Display", sans-serif;
      padding-top: 1rem;
      padding-bottom: 3rem;
      color: var(--text-color);
      font-size: 25px;
    }
    button {
      font-family: "Monda", sans-serif;
      background-color: var(--color-button);
      color: var(--text-color);
      font-size: 20px;
      border-radius: 8px;
      border: none;
      width: 40%;
      height: 8vh;
      cursor: pointer;
    }
    button:hover {
      background: linear-gradient(90deg, #1e7cf0 0%, #0c63cc 100%);
    }
    button:active {
      transform: translate(0em, 0.2em);
    }
  }
}
/* page title */

/* services */

.services {
  display: flex;
  flex-direction: column;
  font-family: "Monda", sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 4rem;
  position: relative;
}
.services-content {
  display: flex;
  flex-direction: row;
  width: 65vw;
  padding-bottom: 19rem;
  gap: 2rem;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
  .image {
    width: 54%;
    height: 100%;
  }
}

.image img {
  width: 100%;
}

.container_image_absolute {
  width: 100%;
  position: absolute;
  bottom: -140px;
  z-index: 9;
}

.services-title {
  width: 55%;
  height: 100%;
  .services-title-text {
    font-size: 40px;
    color: #848381;
  }
  hr {
    width: 100%;
    height: 2px;
    background-color: #1e7cf0;
    border: none;
    margin-bottom: 1rem;
  }
  .services-text-first {
    width: 100%;
    font-size: 30px;
    padding-bottom: 3rem;
    color: #848381;
  }
  .services-text-second {
    width: 100%;
    color: #848381;
    padding-bottom: 2rem;
  }
}

.section-img {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  margin-right: auto;
  margin-left: auto;
  .section-image {
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 50px;
      font-family: "Monda", sans-serif;
      position: absolute;
      color: var(--background-color-header);
    }
  }

  .section-image:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }
}
.section-image img {
  width: 100%;
}

/* services */

/* phrase */
.phrase {
  font-family: "Monda", sans-serif;
  background: #1e7cf0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18rem 0 6rem 0;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  .container {
    min-width: 350px;
    h1 {
      text-align: center;
    }
  }
}
.phrase span {
  border-bottom: 4px solid var(--accent-color);
  width: 300px;
  height: 48px;
}

/* phrase */

/* footer */
footer {
  font-family: "Monda", sans-serif;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.footer-section {
  min-width: 250px;
}

.footer-section h3 {
  font-size: 18px;
  color: #5096ec;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.footer-section h3 i {
  margin-right: 8px;
}

.footer-section i {
  color: var(--icon-color);
}

.footer-section p {
  color: #666;
  margin-bottom: 6px;
  font-size: 14px;
}

.contact-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 14px;
  border: 1px solid #5096ec;
  border-radius: 4px;
  color: #5096ec;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.contact-btn:hover {
  background-color: #5096ec;
  color: #fff;
}

.map-container {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container img {
  width: 100%;
  height: auto;
}

.footer-divison-border {
  border-top: 2px solid #d5d3d3;
  margin-top: 30px;
  width: 1170px;
}

.logo-container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.logo-container img {
  height: 30px;
  opacity: 0.8;
}

.logo-container {
  font-family: "Red Hat Display", sans-serif;
  color: var(--logo-color);
  font-size: 30px;
}
/* footer */

/* Responsividade para tablets e dispositivos menores */
@media (max-width: 1024px) {
  header .container {
    width: 90%;
    min-width: unset;
    flex-wrap: wrap;
    height: auto;
  }

  header ul {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    gap: 10px;
  }

  header ul li {
    margin-left: 0;
  }


  .title .title-text {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }

  .title .title-text-first {
    font-size: 35px;
  }

  .title .title-text-second {
    font-size: 18px;
    width: 100%;
  }

  .services-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
  }

  .services-title {
    width: 100%;
    text-align: center;
  }

  .services-title-text {
    font-size: 30px;
  }

  .services-text-first,
  .services-text-second {
    font-size: 18px;
  }

  .image {
    width: 100%;
  }

  .section-img {
    gap: 1rem;
  }

  .section-image {
    width: 90%;
  }

  .phrase {
    padding: 10rem 0 4rem 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer-section {
    text-align: center;
  }

  iframe {
    width: 100%;
  }

  .burger {
    display: flex !important;
    flex-direction: column;
  }

  .burger:hover {
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #000;
  }

  .line:nth-child(2) {
    margin: 5px 0;
  }

  .pages {
    display: none;
  }

  .active-header-response {
    font-family: "Monda", sans-serif;
    display: none;

    flex-direction: column;
    position: absolute;
    right: 0;
    width: 30%;
    background-color: var(--background-color-header);
    padding: 2rem;
    z-index: 10;
    border-radius: 0 0 0 10px;
  }
}
/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {

}
