@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400..700&display=swap");

/* variáveis */
:root {
  --primary-color: #1e7cf0;
  --secondary-color: #5096ec;
  --accent-color: #0c63cc;

  --logo-color: #003c64;
  --text-color: #ececec;
  --text-color-stronger: #838383;

  --background-color-nav: #ffffff;
  --background-color-header: #ffffff;
  --icon-color: #1e7cf0;
  --color-button: #1e7cf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Monda", sans-serif;

}

/* nav */
nav {
  background-color: var(--background-color-nav);
  width: 100%;
  font-family: "Monda", sans-serif;
}

nav .container {
  padding: 1rem 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  min-width: 700px;
}

nav .contact {
  display: flex;
}

.contact-text {
  margin: 0px 8px;
  margin-right: 0px;
}

nav i {
  color: var(--icon-color);
  font-size: 25px;
}

nav span {
  font-size: 14px;
}
/* nav */

/* header */
header {
  background-color: var(--background-color);
}

header .logo {
  font-family: "Red Hat Display", sans-serif !important;
  color: var(--logo-color);
  font-size: 2.5rem;
}

header .logo a {
  text-decoration: none;
  color: var(--logo-color);
}

header {
  background-color: var(--background-color);
}

header a {
  text-decoration: none;
  color: black;
}

header .container {
  font-family: "Monda", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  margin-right: auto;
  margin-left: auto;
  height: 10vh;
  min-width: 700px;
}

header .logo {
  font-family: "Red Hat Display", sans-serif;
  color: var(--logo-color);
  font-size: 2.5rem;
}

header ul {
  display: flex;
  list-style: none;
  margin-left: auto
}

header ul li {
  margin-left: 30px;
}

header ul li a {
  text-decoration: none;
  color: var(--text-color-stronger);
  font-size: 17px;
  text-transform: uppercase;
}


/* header */

#capa-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-image: url("../images/Us/capa_sobre.png");
  background-size: cover;
  background-repeat: no-repeat;

  p {
    font-size: 50px;
    font-weight: bold;
    color: #FFF;
  }
}

/* background-image: url("../images/capa-sobre-nos.png"); */


#conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65vw;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 27.5vw;
    margin: 30px;
    margin-right: 0;
    height: auto;
  }
}

#conteudo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 30px;
  margin-left: 0;
  .conteudo {
    margin: 20px 0;
    p {
      font-size: 20px;
      font-weight: bold;
    }

    span {
      font-size: 16px;
    }
  }
}

/* phrase */

.phrase {
  font-family: "Monda", sans-serif;
  background: #1e7cf0;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 15px;
  text-transform: uppercase;
}

.phrase .container {
  width: 65vw;
  text-transform: uppercase;
  text-align: center;
}

.phrase span {
border-bottom: 4px solid var(--accent-color);
  width: 300px;
  height: 48px;
}

/* footer */

footer {
  font-family: "Monda", sans-serif;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.footer-section {
  min-width: 250px;
}

.footer-section h3 {
  font-size: 18px;
  color: #5096ec;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.footer-section h3 i {
  margin-right: 8px;
}

.footer-section i {
  color: var(--icon-color);
}

.footer-section p {
  color: #666;
  margin-bottom: 6px;
  font-size: 14px;
}

.contact-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 14px;
  border: 1px solid #5096ec;
  border-radius: 4px;
  color: #5096ec;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.contact-btn:hover {
  background-color: #5096ec;
  color: #fff;
}

.map-container {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-container img {
  width: 100%;
  height: auto;
}

.footer-divison-border {
  border-top: 2px solid #d5d3d3;
  margin-top: 30px;
  width: 1170px;
}

.logo-container {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  cursor: pointer;
}

.logo-container img {
  height: 30px;
  opacity: 0.8;
}

.logo-container {
  font-family: "Red Hat Display", sans-serif;
  color: var(--logo-color);
  font-size: 30px;
}

.pages {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  float: right;
}
