@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap");

/* variáveis */
:root {
  --primary-color: #1ef0a6;
  --secondary-color: #1becaa;

  --logo-color: #003c64;
  --text-color: #9a9a9a;
  --text-color-hover: #838383;

  --background-color-nav: #f2f2f2;
  --background-color-header: #fff;
  --icon-color: #22df96;
}

/* config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
}

/* nav */
nav {
  background-color: var(--background-color-nav);
  width: 100%;
}

nav .container {
  padding: 1rem 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

nav .contact {
  display: flex;
}

nav .contact .contact-text {
  margin: 0px 8px;
}

nav i {
  color: var(--icon-color);
  font-size: 25px;
}

nav span {
  font-size: 14px;
}
/* nav */

/* header */
header {
  background-color: var(--background-color);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

header .logo {
  color: var(--logo-color);
  font-size: 2.5rem;
}

header ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

header ul li {
  margin-left: 30px;
}

header ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 17px;
  text-transform: uppercase;
}
