<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header e Nav</title>
    <!-- ajustar o css de acordo com a pasta -->
    <link rel="stylesheet" href="./nav-header.css" />

    <!-- fontawesome para icons -->
    <script
      src="https://kit.fontawesome.com/8aca4bf827.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <!-- parte da nav bar -->
  <nav>
    <div class="container">
      <div class="contact">
        <div class="contact-text" style="margin-left: 0">
          <i class="fa-brands fa-square-whatsapp"></i>
          <span class="number-phone-contact">(11) 9999-9999</span>
        </div>
        <div class="contact-text">
          <i class="fa-solid fa-envelope"></i>
          <span class="email-contact">contato@seudominio.com.br</span>
        </div>
      </div>

      <div class="opening-hours">
        <div class="contact-text">
          <i class="fa-solid fa-clock"></i>
          <span>Seg a Sex | 9h - 12h e 13h30 - 18h</span>
        </div>
      </div>
    </div>
  </nav>
  <!-- parte da nav bar -->

  <!-- parte do header -->
  <header>
    <div class="container">
      <div class="logo">
        <span>Data</span><span style="font-weight: bolder">Way</span>
      </div>
      <div class="pages">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </header>
  <!-- parte do header -->
</html>
