@media (max-width: 1280px) {
  .contact-form-left {
    width: 100%;
  }
  .contact-form-right {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .phrase {
    padding: 50px 10px;
  }

  .phrase .container {
    width: 90vw;
    min-width: unset;
  }

  .contact-form-left {
    width: 100%;
  }
  .contact-form-right {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    width: 100%;
  }

  .pages ul {
    flex-direction: column;
  }

  .pages ul li {
    margin: 10px 0;
  }

  .contact-form-right {
    display: none;
  }

  footer {
    flex-direction: column; /* Alinha os elementos do footer verticalmente */
    align-items: center; /* Centraliza os elementos */
  }

  .footer-section-map {
    order: 3; /* Garante que o mapa fique abaixo dos outros elementos */
    width: 100%; /* Ajusta a largura para ocupar o espaço disponível */
    text-align: center; /* Centraliza o conteúdo, se necessário */
  }

  .footer-section {
    margin-bottom: 20px; /* Adiciona espaçamento entre as seções */
  }

  .footer-container {
    width: auto;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .phrase h1 {
    font-size: 16px;
  }
}
