<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header e Nav</title> 
    <!-- ajustar o css de acordo com a pasta -->
    <link rel="stylesheet" href="./header.css" />

    <!-- fontawesome para icons -->
    <script
      src="https://kit.fontawesome.com/8aca4bf827.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <!-- parte do header -->
  <header>
    <div class="container">
      <div class="logo">
        <span>Data</span><span style="font-weight: bolder">Way</span>
      </div>
      <div class="pages">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </header>
  <!-- parte do header -->
</html>
